<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>NULL</key>
	<string>NULL_.glif</string>
	<key>_102</key>
	<string>_102.glif</string>
	<key>_103</key>
	<string>_103.glif</string>
	<key>_104</key>
	<string>_104.glif</string>
	<key>_105</key>
	<string>_105.glif</string>
	<key>_106</key>
	<string>_106.glif</string>
	<key>_107</key>
	<string>_107.glif</string>
	<key>_108</key>
	<string>_108.glif</string>
	<key>_109</key>
	<string>_109.glif</string>
	<key>_110</key>
	<string>_110.glif</string>
	<key>_111</key>
	<string>_111.glif</string>
	<key>_112</key>
	<string>_112.glif</string>
	<key>_113</key>
	<string>_113.glif</string>
	<key>_116</key>
	<string>_116.glif</string>
	<key>_117</key>
	<string>_117.glif</string>
	<key>_118</key>
	<string>_118.glif</string>
	<key>_119</key>
	<string>_119.glif</string>
	<key>_120</key>
	<string>_120.glif</string>
	<key>_121</key>
	<string>_121.glif</string>
	<key>_122</key>
	<string>_122.glif</string>
	<key>_123</key>
	<string>_123.glif</string>
	<key>_124</key>
	<string>_124.glif</string>
	<key>_126</key>
	<string>_126.glif</string>
	<key>_127</key>
	<string>_127.glif</string>
	<key>_129</key>
	<string>_129.glif</string>
	<key>_130</key>
	<string>_130.glif</string>
	<key>_131</key>
	<string>_131.glif</string>
	<key>_132</key>
	<string>_132.glif</string>
	<key>_133</key>
	<string>_133.glif</string>
	<key>_134</key>
	<string>_134.glif</string>
	<key>_135</key>
	<string>_135.glif</string>
	<key>_137</key>
	<string>_137.glif</string>
	<key>_138</key>
	<string>_138.glif</string>
	<key>_139</key>
	<string>_139.glif</string>
	<key>_140</key>
	<string>_140.glif</string>
	<key>_141</key>
	<string>_141.glif</string>
	<key>_144</key>
	<string>_144.glif</string>
	<key>_145</key>
	<string>_145.glif</string>
	<key>_146</key>
	<string>_146.glif</string>
	<key>_147</key>
	<string>_147.glif</string>
	<key>_148</key>
	<string>_148.glif</string>
	<key>_149</key>
	<string>_149.glif</string>
	<key>_150</key>
	<string>_150.glif</string>
	<key>_151</key>
	<string>_151.glif</string>
	<key>_152</key>
	<string>_152.glif</string>
	<key>_153</key>
	<string>_153.glif</string>
	<key>_155</key>
	<string>_155.glif</string>
	<key>_156</key>
	<string>_156.glif</string>
	<key>_516</key>
	<string>_516.glif</string>
	<key>_517</key>
	<string>_517.glif</string>
	<key>_84</key>
	<string>_84.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0D82</key>
	<string>uni0D82_.glif</string>
	<key>uni0D83</key>
	<string>uni0D83_.glif</string>
	<key>uni0D85</key>
	<string>uni0D85_.glif</string>
	<key>uni0D86</key>
	<string>uni0D86_.glif</string>
	<key>uni0D87</key>
	<string>uni0D87_.glif</string>
	<key>uni0D88</key>
	<string>uni0D88_.glif</string>
	<key>uni0D89</key>
	<string>uni0D89_.glif</string>
	<key>uni0D8A</key>
	<string>uni0D8A_.glif</string>
	<key>uni0D8B</key>
	<string>uni0D8B_.glif</string>
	<key>uni0D8C</key>
	<string>uni0D8C_.glif</string>
	<key>uni0D8D</key>
	<string>uni0D8D_.glif</string>
	<key>uni0D8E</key>
	<string>uni0D8E_.glif</string>
	<key>uni0D8F</key>
	<string>uni0D8F_.glif</string>
	<key>uni0D90</key>
	<string>uni0D90_.glif</string>
	<key>uni0D91</key>
	<string>uni0D91_.glif</string>
	<key>uni0D92</key>
	<string>uni0D92_.glif</string>
	<key>uni0D93</key>
	<string>uni0D93_.glif</string>
	<key>uni0D94</key>
	<string>uni0D94_.glif</string>
	<key>uni0D95</key>
	<string>uni0D95_.glif</string>
	<key>uni0D96</key>
	<string>uni0D96_.glif</string>
	<key>uni0D9A</key>
	<string>uni0D9A_.glif</string>
	<key>uni0D9A_uni0DCA</key>
	<string>uni0D9A__uni0DCA_.glif</string>
	<key>uni0D9A_uni0DD2</key>
	<string>uni0D9A__uni0DD2_.glif</string>
	<key>uni0D9A_uni0DD3</key>
	<string>uni0D9A__uni0DD3_.glif</string>
	<key>uni0D9A_uni0DD4</key>
	<string>uni0D9A__uni0DD4_.glif</string>
	<key>uni0D9A_uni0DD6</key>
	<string>uni0D9A__uni0DD6_.glif</string>
	<key>uni0D9A_uni200D_uni0DCA</key>
	<string>uni0D9A__uni200D__uni0DCA_.glif</string>
	<key>uni0D9B</key>
	<string>uni0D9B_.glif</string>
	<key>uni0D9B_uni0DCA</key>
	<string>uni0D9B__uni0DCA_.glif</string>
	<key>uni0D9B_uni0DD2</key>
	<string>uni0D9B__uni0DD2_.glif</string>
	<key>uni0D9B_uni0DD3</key>
	<string>uni0D9B__uni0DD3_.glif</string>
	<key>uni0D9B_uni0DD4</key>
	<string>uni0D9B__uni0DD4_.glif</string>
	<key>uni0D9B_uni0DD6</key>
	<string>uni0D9B__uni0DD6_.glif</string>
	<key>uni0D9B_uni200D_uni0DCA</key>
	<string>uni0D9B__uni200D__uni0DCA_.glif</string>
	<key>uni0D9C</key>
	<string>uni0D9C_.glif</string>
	<key>uni0D9C_uni0DCA</key>
	<string>uni0D9C__uni0DCA_.glif</string>
	<key>uni0D9C_uni0DD2</key>
	<string>uni0D9C__uni0DD2_.glif</string>
	<key>uni0D9C_uni0DD3</key>
	<string>uni0D9C__uni0DD3_.glif</string>
	<key>uni0D9C_uni0DD4</key>
	<string>uni0D9C__uni0DD4_.glif</string>
	<key>uni0D9C_uni0DD6</key>
	<string>uni0D9C__uni0DD6_.glif</string>
	<key>uni0D9C_uni200D_uni0DCA</key>
	<string>uni0D9C__uni200D__uni0DCA_.glif</string>
	<key>uni0D9D</key>
	<string>uni0D9D_.glif</string>
	<key>uni0D9D_uni0DCA</key>
	<string>uni0D9D__uni0DCA_.glif</string>
	<key>uni0D9D_uni0DD2</key>
	<string>uni0D9D__uni0DD2_.glif</string>
	<key>uni0D9D_uni0DD3</key>
	<string>uni0D9D__uni0DD3_.glif</string>
	<key>uni0D9D_uni0DD4</key>
	<string>uni0D9D__uni0DD4_.glif</string>
	<key>uni0D9D_uni0DD6</key>
	<string>uni0D9D__uni0DD6_.glif</string>
	<key>uni0D9D_uni200D_uni0DCA</key>
	<string>uni0D9D__uni200D__uni0DCA_.glif</string>
	<key>uni0D9E</key>
	<string>uni0D9E_.glif</string>
	<key>uni0D9E_uni0DCA</key>
	<string>uni0D9E__uni0DCA_.glif</string>
	<key>uni0D9E_uni0DD2</key>
	<string>uni0D9E__uni0DD2_.glif</string>
	<key>uni0D9E_uni0DD3</key>
	<string>uni0D9E__uni0DD3_.glif</string>
	<key>uni0D9E_uni0DD4</key>
	<string>uni0D9E__uni0DD4_.glif</string>
	<key>uni0D9E_uni0DD6</key>
	<string>uni0D9E__uni0DD6_.glif</string>
	<key>uni0D9E_uni200D_uni0DCA</key>
	<string>uni0D9E__uni200D__uni0DCA_.glif</string>
	<key>uni0D9F</key>
	<string>uni0D9F_.glif</string>
	<key>uni0D9F_uni0DCA</key>
	<string>uni0D9F__uni0DCA_.glif</string>
	<key>uni0D9F_uni0DD2</key>
	<string>uni0D9F__uni0DD2_.glif</string>
	<key>uni0D9F_uni0DD3</key>
	<string>uni0D9F__uni0DD3_.glif</string>
	<key>uni0D9F_uni0DD4</key>
	<string>uni0D9F__uni0DD4_.glif</string>
	<key>uni0D9F_uni0DD6</key>
	<string>uni0D9F__uni0DD6_.glif</string>
	<key>uni0D9F_uni200D_uni0DCA</key>
	<string>uni0D9F__uni200D__uni0DCA_.glif</string>
	<key>uni0DA0</key>
	<string>uni0DA0_.glif</string>
	<key>uni0DA0_uni0DCA</key>
	<string>uni0DA0__uni0DCA_.glif</string>
	<key>uni0DA0_uni0DD2</key>
	<string>uni0DA0__uni0DD2_.glif</string>
	<key>uni0DA0_uni0DD3</key>
	<string>uni0DA0__uni0DD3_.glif</string>
	<key>uni0DA0_uni0DD4</key>
	<string>uni0DA0__uni0DD4_.glif</string>
	<key>uni0DA0_uni0DD6</key>
	<string>uni0DA0__uni0DD6_.glif</string>
	<key>uni0DA0_uni200D_uni0DCA</key>
	<string>uni0DA0__uni200D__uni0DCA_.glif</string>
	<key>uni0DA1</key>
	<string>uni0DA1_.glif</string>
	<key>uni0DA1_uni0DCA</key>
	<string>uni0DA1__uni0DCA_.glif</string>
	<key>uni0DA1_uni0DD2</key>
	<string>uni0DA1__uni0DD2_.glif</string>
	<key>uni0DA1_uni0DD3</key>
	<string>uni0DA1__uni0DD3_.glif</string>
	<key>uni0DA1_uni0DD4</key>
	<string>uni0DA1__uni0DD4_.glif</string>
	<key>uni0DA1_uni0DD6</key>
	<string>uni0DA1__uni0DD6_.glif</string>
	<key>uni0DA1_uni200D_uni0DCA</key>
	<string>uni0DA1__uni200D__uni0DCA_.glif</string>
	<key>uni0DA2</key>
	<string>uni0DA2_.glif</string>
	<key>uni0DA2_uni0DCA</key>
	<string>uni0DA2__uni0DCA_.glif</string>
	<key>uni0DA2_uni0DD2</key>
	<string>uni0DA2__uni0DD2_.glif</string>
	<key>uni0DA2_uni0DD3</key>
	<string>uni0DA2__uni0DD3_.glif</string>
	<key>uni0DA2_uni0DD4</key>
	<string>uni0DA2__uni0DD4_.glif</string>
	<key>uni0DA2_uni0DD6</key>
	<string>uni0DA2__uni0DD6_.glif</string>
	<key>uni0DA2_uni200D_uni0DCA</key>
	<string>uni0DA2__uni200D__uni0DCA_.glif</string>
	<key>uni0DA3</key>
	<string>uni0DA3_.glif</string>
	<key>uni0DA3_uni0DD4</key>
	<string>uni0DA3__uni0DD4_.glif</string>
	<key>uni0DA3_uni0DD6</key>
	<string>uni0DA3__uni0DD6_.glif</string>
	<key>uni0DA4</key>
	<string>uni0DA4_.glif</string>
	<key>uni0DA4_uni0DD4</key>
	<string>uni0DA4__uni0DD4_.glif</string>
	<key>uni0DA4_uni0DD6</key>
	<string>uni0DA4__uni0DD6_.glif</string>
	<key>uni0DA5</key>
	<string>uni0DA5_.glif</string>
	<key>uni0DA5_uni0DD4</key>
	<string>uni0DA5__uni0DD4_.glif</string>
	<key>uni0DA5_uni0DD6</key>
	<string>uni0DA5__uni0DD6_.glif</string>
	<key>uni0DA6</key>
	<string>uni0DA6_.glif</string>
	<key>uni0DA6_uni0DD2</key>
	<string>uni0DA6__uni0DD2_.glif</string>
	<key>uni0DA6_uni0DD3</key>
	<string>uni0DA6__uni0DD3_.glif</string>
	<key>uni0DA6_uni0DD4</key>
	<string>uni0DA6__uni0DD4_.glif</string>
	<key>uni0DA6_uni0DD6</key>
	<string>uni0DA6__uni0DD6_.glif</string>
	<key>uni0DA6_uni200D_uni0DCA</key>
	<string>uni0DA6__uni200D__uni0DCA_.glif</string>
	<key>uni0DA7</key>
	<string>uni0DA7_.glif</string>
	<key>uni0DA7_uni0DCA</key>
	<string>uni0DA7__uni0DCA_.glif</string>
	<key>uni0DA7_uni0DD2</key>
	<string>uni0DA7__uni0DD2_.glif</string>
	<key>uni0DA7_uni0DD3</key>
	<string>uni0DA7__uni0DD3_.glif</string>
	<key>uni0DA7_uni0DD4</key>
	<string>uni0DA7__uni0DD4_.glif</string>
	<key>uni0DA7_uni0DD6</key>
	<string>uni0DA7__uni0DD6_.glif</string>
	<key>uni0DA7_uni200D_uni0DCA</key>
	<string>uni0DA7__uni200D__uni0DCA_.glif</string>
	<key>uni0DA8</key>
	<string>uni0DA8_.glif</string>
	<key>uni0DA8_uni0DCA</key>
	<string>uni0DA8__uni0DCA_.glif</string>
	<key>uni0DA8_uni0DD2</key>
	<string>uni0DA8__uni0DD2_.glif</string>
	<key>uni0DA8_uni0DD3</key>
	<string>uni0DA8__uni0DD3_.glif</string>
	<key>uni0DA8_uni0DD4</key>
	<string>uni0DA8__uni0DD4_.glif</string>
	<key>uni0DA8_uni0DD6</key>
	<string>uni0DA8__uni0DD6_.glif</string>
	<key>uni0DA8_uni200D_uni0DCA</key>
	<string>uni0DA8__uni200D__uni0DCA_.glif</string>
	<key>uni0DA9</key>
	<string>uni0DA9_.glif</string>
	<key>uni0DA9_uni0DCA</key>
	<string>uni0DA9__uni0DCA_.glif</string>
	<key>uni0DA9_uni0DD2</key>
	<string>uni0DA9__uni0DD2_.glif</string>
	<key>uni0DA9_uni0DD3</key>
	<string>uni0DA9__uni0DD3_.glif</string>
	<key>uni0DA9_uni0DD4</key>
	<string>uni0DA9__uni0DD4_.glif</string>
	<key>uni0DA9_uni0DD6</key>
	<string>uni0DA9__uni0DD6_.glif</string>
	<key>uni0DA9_uni200D_uni0DCA</key>
	<string>uni0DA9__uni200D__uni0DCA_.glif</string>
	<key>uni0DAA</key>
	<string>uni0DAA_.glif</string>
	<key>uni0DAA_uni0DCA</key>
	<string>uni0DAA__uni0DCA_.glif</string>
	<key>uni0DAA_uni0DD2</key>
	<string>uni0DAA__uni0DD2_.glif</string>
	<key>uni0DAA_uni0DD3</key>
	<string>uni0DAA__uni0DD3_.glif</string>
	<key>uni0DAA_uni0DD4</key>
	<string>uni0DAA__uni0DD4_.glif</string>
	<key>uni0DAA_uni0DD6</key>
	<string>uni0DAA__uni0DD6_.glif</string>
	<key>uni0DAA_uni200D_uni0DCA</key>
	<string>uni0DAA__uni200D__uni0DCA_.glif</string>
	<key>uni0DAB</key>
	<string>uni0DAB_.glif</string>
	<key>uni0DAB_uni0DCA</key>
	<string>uni0DAB__uni0DCA_.glif</string>
	<key>uni0DAB_uni0DD2</key>
	<string>uni0DAB__uni0DD2_.glif</string>
	<key>uni0DAB_uni0DD3</key>
	<string>uni0DAB__uni0DD3_.glif</string>
	<key>uni0DAB_uni0DD4</key>
	<string>uni0DAB__uni0DD4_.glif</string>
	<key>uni0DAB_uni0DD6</key>
	<string>uni0DAB__uni0DD6_.glif</string>
	<key>uni0DAB_uni200D_uni0DCA</key>
	<string>uni0DAB__uni200D__uni0DCA_.glif</string>
	<key>uni0DAC</key>
	<string>uni0DAC_.glif</string>
	<key>uni0DAC_uni0DCA</key>
	<string>uni0DAC__uni0DCA_.glif</string>
	<key>uni0DAC_uni0DD2</key>
	<string>uni0DAC__uni0DD2_.glif</string>
	<key>uni0DAC_uni0DD3</key>
	<string>uni0DAC__uni0DD3_.glif</string>
	<key>uni0DAC_uni0DD4</key>
	<string>uni0DAC__uni0DD4_.glif</string>
	<key>uni0DAC_uni0DD6</key>
	<string>uni0DAC__uni0DD6_.glif</string>
	<key>uni0DAC_uni200D_uni0DCA</key>
	<string>uni0DAC__uni200D__uni0DCA_.glif</string>
	<key>uni0DAD</key>
	<string>uni0DAD_.glif</string>
	<key>uni0DAD_uni0DCA</key>
	<string>uni0DAD__uni0DCA_.glif</string>
	<key>uni0DAD_uni0DD2</key>
	<string>uni0DAD__uni0DD2_.glif</string>
	<key>uni0DAD_uni0DD3</key>
	<string>uni0DAD__uni0DD3_.glif</string>
	<key>uni0DAD_uni0DD4</key>
	<string>uni0DAD__uni0DD4_.glif</string>
	<key>uni0DAD_uni0DD6</key>
	<string>uni0DAD__uni0DD6_.glif</string>
	<key>uni0DAD_uni200D_uni0DCA</key>
	<string>uni0DAD__uni200D__uni0DCA_.glif</string>
	<key>uni0DAE</key>
	<string>uni0DAE_.glif</string>
	<key>uni0DAE_uni0DCA</key>
	<string>uni0DAE__uni0DCA_.glif</string>
	<key>uni0DAE_uni0DD2</key>
	<string>uni0DAE__uni0DD2_.glif</string>
	<key>uni0DAE_uni0DD3</key>
	<string>uni0DAE__uni0DD3_.glif</string>
	<key>uni0DAE_uni0DD4</key>
	<string>uni0DAE__uni0DD4_.glif</string>
	<key>uni0DAE_uni0DD6</key>
	<string>uni0DAE__uni0DD6_.glif</string>
	<key>uni0DAE_uni200D_uni0DCA</key>
	<string>uni0DAE__uni200D__uni0DCA_.glif</string>
	<key>uni0DAF</key>
	<string>uni0DAF_.glif</string>
	<key>uni0DAF_uni0DCA</key>
	<string>uni0DAF__uni0DCA_.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DAF__uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0DAF__uni0DCA__uni200D__uni0DBB__uni0DD2_.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0DAF__uni0DCA__uni200D__uni0DBB__uni0DD3_.glif</string>
	<key>uni0DAF_uni0DD2</key>
	<string>uni0DAF__uni0DD2_.glif</string>
	<key>uni0DAF_uni0DD3</key>
	<string>uni0DAF__uni0DD3_.glif</string>
	<key>uni0DAF_uni0DD4</key>
	<string>uni0DAF__uni0DD4_.glif</string>
	<key>uni0DAF_uni0DD6</key>
	<string>uni0DAF__uni0DD6_.glif</string>
	<key>uni0DAF_uni200D_uni0DCA</key>
	<string>uni0DAF__uni200D__uni0DCA_.glif</string>
	<key>uni0DB0</key>
	<string>uni0DB0_.glif</string>
	<key>uni0DB0_uni0DCA</key>
	<string>uni0DB0__uni0DCA_.glif</string>
	<key>uni0DB0_uni0DD2</key>
	<string>uni0DB0__uni0DD2_.glif</string>
	<key>uni0DB0_uni0DD3</key>
	<string>uni0DB0__uni0DD3_.glif</string>
	<key>uni0DB0_uni0DD4</key>
	<string>uni0DB0__uni0DD4_.glif</string>
	<key>uni0DB0_uni0DD6</key>
	<string>uni0DB0__uni0DD6_.glif</string>
	<key>uni0DB0_uni200D_uni0DCA</key>
	<string>uni0DB0__uni200D__uni0DCA_.glif</string>
	<key>uni0DB1</key>
	<string>uni0DB1_.glif</string>
	<key>uni0DB1_uni0DCA</key>
	<string>uni0DB1__uni0DCA_.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DAF_uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DB1__uni0DCA__uni200D__uni0DAF__uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DB1_uni0DD2</key>
	<string>uni0DB1__uni0DD2_.glif</string>
	<key>uni0DB1_uni0DD3</key>
	<string>uni0DB1__uni0DD3_.glif</string>
	<key>uni0DB1_uni0DD4</key>
	<string>uni0DB1__uni0DD4_.glif</string>
	<key>uni0DB1_uni0DD6</key>
	<string>uni0DB1__uni0DD6_.glif</string>
	<key>uni0DB1_uni200D_uni0DCA</key>
	<string>uni0DB1__uni200D__uni0DCA_.glif</string>
	<key>uni0DB3</key>
	<string>uni0DB3_.glif</string>
	<key>uni0DB3_uni0DCA</key>
	<string>uni0DB3__uni0DCA_.glif</string>
	<key>uni0DB3_uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DB3__uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DB3_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0DB3__uni0DCA__uni200D__uni0DBB__uni0DD2_.glif</string>
	<key>uni0DB3_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0DB3__uni0DCA__uni200D__uni0DBB__uni0DD3_.glif</string>
	<key>uni0DB3_uni0DD2</key>
	<string>uni0DB3__uni0DD2_.glif</string>
	<key>uni0DB3_uni0DD3</key>
	<string>uni0DB3__uni0DD3_.glif</string>
	<key>uni0DB3_uni0DD4</key>
	<string>uni0DB3__uni0DD4_.glif</string>
	<key>uni0DB3_uni0DD6</key>
	<string>uni0DB3__uni0DD6_.glif</string>
	<key>uni0DB3_uni200D_uni0DCA</key>
	<string>uni0DB3__uni200D__uni0DCA_.glif</string>
	<key>uni0DB4</key>
	<string>uni0DB4_.glif</string>
	<key>uni0DB4_uni0DCA</key>
	<string>uni0DB4__uni0DCA_.glif</string>
	<key>uni0DB4_uni0DD2</key>
	<string>uni0DB4__uni0DD2_.glif</string>
	<key>uni0DB4_uni0DD3</key>
	<string>uni0DB4__uni0DD3_.glif</string>
	<key>uni0DB4_uni0DD4</key>
	<string>uni0DB4__uni0DD4_.glif</string>
	<key>uni0DB4_uni0DD6</key>
	<string>uni0DB4__uni0DD6_.glif</string>
	<key>uni0DB4_uni200D_uni0DCA</key>
	<string>uni0DB4__uni200D__uni0DCA_.glif</string>
	<key>uni0DB5</key>
	<string>uni0DB5_.glif</string>
	<key>uni0DB5_uni0DCA</key>
	<string>uni0DB5__uni0DCA_.glif</string>
	<key>uni0DB5_uni0DD2</key>
	<string>uni0DB5__uni0DD2_.glif</string>
	<key>uni0DB5_uni0DD3</key>
	<string>uni0DB5__uni0DD3_.glif</string>
	<key>uni0DB5_uni0DD4</key>
	<string>uni0DB5__uni0DD4_.glif</string>
	<key>uni0DB5_uni0DD6</key>
	<string>uni0DB5__uni0DD6_.glif</string>
	<key>uni0DB5_uni200D_uni0DCA</key>
	<string>uni0DB5__uni200D__uni0DCA_.glif</string>
	<key>uni0DB6</key>
	<string>uni0DB6_.glif</string>
	<key>uni0DB6_uni0DCA</key>
	<string>uni0DB6__uni0DCA_.glif</string>
	<key>uni0DB6_uni0DD2</key>
	<string>uni0DB6__uni0DD2_.glif</string>
	<key>uni0DB6_uni0DD3</key>
	<string>uni0DB6__uni0DD3_.glif</string>
	<key>uni0DB6_uni0DD6</key>
	<string>uni0DB6__uni0DD6_.glif</string>
	<key>uni0DB6_uni200D_uni0DCA</key>
	<string>uni0DB6__uni200D__uni0DCA_.glif</string>
	<key>uni0DB7</key>
	<string>uni0DB7_.glif</string>
	<key>uni0DB7_uni0DCA</key>
	<string>uni0DB7__uni0DCA_.glif</string>
	<key>uni0DB7_uni0DD2</key>
	<string>uni0DB7__uni0DD2_.glif</string>
	<key>uni0DB7_uni0DD3</key>
	<string>uni0DB7__uni0DD3_.glif</string>
	<key>uni0DB7_uni0DD6</key>
	<string>uni0DB7__uni0DD6_.glif</string>
	<key>uni0DB7_uni200D_uni0DCA</key>
	<string>uni0DB7__uni200D__uni0DCA_.glif</string>
	<key>uni0DB8</key>
	<string>uni0DB8_.glif</string>
	<key>uni0DB8_uni0DCA</key>
	<string>uni0DB8__uni0DCA_.glif</string>
	<key>uni0DB8_uni0DD2</key>
	<string>uni0DB8__uni0DD2_.glif</string>
	<key>uni0DB8_uni0DD3</key>
	<string>uni0DB8__uni0DD3_.glif</string>
	<key>uni0DB8_uni0DD4</key>
	<string>uni0DB8__uni0DD4_.glif</string>
	<key>uni0DB8_uni0DD6</key>
	<string>uni0DB8__uni0DD6_.glif</string>
	<key>uni0DB8_uni200D_uni0DCA</key>
	<string>uni0DB8__uni200D__uni0DCA_.glif</string>
	<key>uni0DB9</key>
	<string>uni0DB9_.glif</string>
	<key>uni0DB9_uni0DCA</key>
	<string>uni0DB9__uni0DCA_.glif</string>
	<key>uni0DB9_uni0DD2</key>
	<string>uni0DB9__uni0DD2_.glif</string>
	<key>uni0DB9_uni0DD3</key>
	<string>uni0DB9__uni0DD3_.glif</string>
	<key>uni0DB9_uni0DD4</key>
	<string>uni0DB9__uni0DD4_.glif</string>
	<key>uni0DB9_uni0DD6</key>
	<string>uni0DB9__uni0DD6_.glif</string>
	<key>uni0DB9_uni200D_uni0DCA</key>
	<string>uni0DB9__uni200D__uni0DCA_.glif</string>
	<key>uni0DBA</key>
	<string>uni0DBA_.glif</string>
	<key>uni0DBA_uni0DCA</key>
	<string>uni0DBA__uni0DCA_.glif</string>
	<key>uni0DBA_uni0DD2</key>
	<string>uni0DBA__uni0DD2_.glif</string>
	<key>uni0DBA_uni0DD3</key>
	<string>uni0DBA__uni0DD3_.glif</string>
	<key>uni0DBA_uni0DD4</key>
	<string>uni0DBA__uni0DD4_.glif</string>
	<key>uni0DBA_uni0DD6</key>
	<string>uni0DBA__uni0DD6_.glif</string>
	<key>uni0DBA_uni200D_uni0DCA</key>
	<string>uni0DBA__uni200D__uni0DCA_.glif</string>
	<key>uni0DBB</key>
	<string>uni0DBB_.glif</string>
	<key>uni0DBB_uni0DCA</key>
	<string>uni0DBB__uni0DCA_.glif</string>
	<key>uni0DBB_uni0DD2</key>
	<string>uni0DBB__uni0DD2_.glif</string>
	<key>uni0DBB_uni0DD3</key>
	<string>uni0DBB__uni0DD3_.glif</string>
	<key>uni0DBB_uni200D_uni0DCA</key>
	<string>uni0DBB__uni200D__uni0DCA_.glif</string>
	<key>uni0DBD</key>
	<string>uni0DBD_.glif</string>
	<key>uni0DBD_uni0DCA</key>
	<string>uni0DBD__uni0DCA_.glif</string>
	<key>uni0DBD_uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DBD__uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DBD_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0DBD__uni0DCA__uni200D__uni0DBB__uni0DD3_.glif</string>
	<key>uni0DBD_uni0DD2</key>
	<string>uni0DBD__uni0DD2_.glif</string>
	<key>uni0DBD_uni0DD3</key>
	<string>uni0DBD__uni0DD3_.glif</string>
	<key>uni0DBD_uni0DD4</key>
	<string>uni0DBD__uni0DD4_.glif</string>
	<key>uni0DBD_uni0DD6</key>
	<string>uni0DBD__uni0DD6_.glif</string>
	<key>uni0DBD_uni200D_uni0DCA</key>
	<string>uni0DBD__uni200D__uni0DCA_.glif</string>
	<key>uni0DC0</key>
	<string>uni0DC0_.glif</string>
	<key>uni0DC0_uni0DCA</key>
	<string>uni0DC0__uni0DCA_.glif</string>
	<key>uni0DC0_uni0DD2</key>
	<string>uni0DC0__uni0DD2_.glif</string>
	<key>uni0DC0_uni0DD3</key>
	<string>uni0DC0__uni0DD3_.glif</string>
	<key>uni0DC0_uni0DD4</key>
	<string>uni0DC0__uni0DD4_.glif</string>
	<key>uni0DC0_uni0DD6</key>
	<string>uni0DC0__uni0DD6_.glif</string>
	<key>uni0DC0_uni200D_uni0DCA</key>
	<string>uni0DC0__uni200D__uni0DCA_.glif</string>
	<key>uni0DC1</key>
	<string>uni0DC1_.glif</string>
	<key>uni0DC1_uni0DCA</key>
	<string>uni0DC1__uni0DCA_.glif</string>
	<key>uni0DC1_uni0DD2</key>
	<string>uni0DC1__uni0DD2_.glif</string>
	<key>uni0DC1_uni0DD3</key>
	<string>uni0DC1__uni0DD3_.glif</string>
	<key>uni0DC1_uni0DD4</key>
	<string>uni0DC1__uni0DD4_.glif</string>
	<key>uni0DC1_uni0DD6</key>
	<string>uni0DC1__uni0DD6_.glif</string>
	<key>uni0DC1_uni200D_uni0DCA</key>
	<string>uni0DC1__uni200D__uni0DCA_.glif</string>
	<key>uni0DC2</key>
	<string>uni0DC2_.glif</string>
	<key>uni0DC2_uni0DCA</key>
	<string>uni0DC2__uni0DCA_.glif</string>
	<key>uni0DC2_uni0DD2</key>
	<string>uni0DC2__uni0DD2_.glif</string>
	<key>uni0DC2_uni0DD3</key>
	<string>uni0DC2__uni0DD3_.glif</string>
	<key>uni0DC2_uni0DD4</key>
	<string>uni0DC2__uni0DD4_.glif</string>
	<key>uni0DC2_uni0DD6</key>
	<string>uni0DC2__uni0DD6_.glif</string>
	<key>uni0DC2_uni200D_uni0DCA</key>
	<string>uni0DC2__uni200D__uni0DCA_.glif</string>
	<key>uni0DC3</key>
	<string>uni0DC3_.glif</string>
	<key>uni0DC3_uni0DCA</key>
	<string>uni0DC3__uni0DCA_.glif</string>
	<key>uni0DC3_uni0DD2</key>
	<string>uni0DC3__uni0DD2_.glif</string>
	<key>uni0DC3_uni0DD3</key>
	<string>uni0DC3__uni0DD3_.glif</string>
	<key>uni0DC3_uni0DD4</key>
	<string>uni0DC3__uni0DD4_.glif</string>
	<key>uni0DC3_uni0DD6</key>
	<string>uni0DC3__uni0DD6_.glif</string>
	<key>uni0DC3_uni200D_uni0DCA</key>
	<string>uni0DC3__uni200D__uni0DCA_.glif</string>
	<key>uni0DC4</key>
	<string>uni0DC4_.glif</string>
	<key>uni0DC4_uni0DCA</key>
	<string>uni0DC4__uni0DCA_.glif</string>
	<key>uni0DC4_uni0DD2</key>
	<string>uni0DC4__uni0DD2_.glif</string>
	<key>uni0DC4_uni0DD3</key>
	<string>uni0DC4__uni0DD3_.glif</string>
	<key>uni0DC4_uni0DD4</key>
	<string>uni0DC4__uni0DD4_.glif</string>
	<key>uni0DC4_uni0DD6</key>
	<string>uni0DC4__uni0DD6_.glif</string>
	<key>uni0DC4_uni200D_uni0DCA</key>
	<string>uni0DC4__uni200D__uni0DCA_.glif</string>
	<key>uni0DC5</key>
	<string>uni0DC5_.glif</string>
	<key>uni0DC5_uni0DCA</key>
	<string>uni0DC5__uni0DCA_.glif</string>
	<key>uni0DC5_uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DC5__uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DC5_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0DC5__uni0DCA__uni200D__uni0DBB__uni0DD2_.glif</string>
	<key>uni0DC5_uni0DD2</key>
	<string>uni0DC5__uni0DD2_.glif</string>
	<key>uni0DC5_uni0DD3</key>
	<string>uni0DC5__uni0DD3_.glif</string>
	<key>uni0DC5_uni0DD4</key>
	<string>uni0DC5__uni0DD4_.glif</string>
	<key>uni0DC5_uni200D_uni0DCA</key>
	<string>uni0DC5__uni200D__uni0DCA_.glif</string>
	<key>uni0DC6</key>
	<string>uni0DC6_.glif</string>
	<key>uni0DC6_uni0DCA</key>
	<string>uni0DC6__uni0DCA_.glif</string>
	<key>uni0DC6_uni0DD2</key>
	<string>uni0DC6__uni0DD2_.glif</string>
	<key>uni0DC6_uni0DD3</key>
	<string>uni0DC6__uni0DD3_.glif</string>
	<key>uni0DC6_uni0DD4</key>
	<string>uni0DC6__uni0DD4_.glif</string>
	<key>uni0DC6_uni0DD6</key>
	<string>uni0DC6__uni0DD6_.glif</string>
	<key>uni0DC6_uni200D_uni0DCA</key>
	<string>uni0DC6__uni200D__uni0DCA_.glif</string>
	<key>uni0DCA</key>
	<string>uni0DCA_.glif</string>
	<key>uni0DCA_uni200D_uni0DBA</key>
	<string>uni0DCA__uni200D__uni0DBA_.glif</string>
	<key>uni0DCA_uni200D_uni0DBB</key>
	<string>uni0DCA__uni200D__uni0DBB_.glif</string>
	<key>uni0DCA_uni200D_uni0DBB.psts</key>
	<string>uni0DCA__uni200D__uni0DBB_.psts.glif</string>
	<key>uni0DCF</key>
	<string>uni0DCF_.glif</string>
	<key>uni0DD0</key>
	<string>uni0DD0_.glif</string>
	<key>uni0DD1</key>
	<string>uni0DD1_.glif</string>
	<key>uni0DD2</key>
	<string>uni0DD2_.glif</string>
	<key>uni0DD3</key>
	<string>uni0DD3_.glif</string>
	<key>uni0DD4</key>
	<string>uni0DD4_.glif</string>
	<key>uni0DD6</key>
	<string>uni0DD6_.glif</string>
	<key>uni0DD8</key>
	<string>uni0DD8_.glif</string>
	<key>uni0DD9</key>
	<string>uni0DD9_.glif</string>
	<key>uni0DDA</key>
	<string>uni0DDA_.glif</string>
	<key>uni0DDB</key>
	<string>uni0DDB_.glif</string>
	<key>uni0DDC</key>
	<string>uni0DDC_.glif</string>
	<key>uni0DDD</key>
	<string>uni0DDD_.glif</string>
	<key>uni0DDD.pstf</key>
	<string>uni0DDD_.pstf.glif</string>
	<key>uni0DDE</key>
	<string>uni0DDE_.glif</string>
	<key>uni0DDF</key>
	<string>uni0DDF_.glif</string>
	<key>uni0DF2</key>
	<string>uni0DF2_.glif</string>
	<key>uni0DF3</key>
	<string>uni0DF3_.glif</string>
	<key>uni0DF4</key>
	<string>uni0DF4_.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni25CC</key>
	<string>uni25CC_.glif</string>
	<key>uniFEFF</key>
	<string>uniFEFF_.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
