<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.notdef#1</key>
	<string>_notdef_1.glif</string>
	<key>.notdef#2</key>
	<string>_notdef_2.glif</string>
	<key>.notdef#3</key>
	<string>_notdef_3.glif</string>
	<key>200c</key>
	<string>200c.glif</string>
	<key>200d</key>
	<string>200d.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_102</key>
	<string>_102.glif</string>
	<key>_103</key>
	<string>_103.glif</string>
	<key>_135</key>
	<string>_135.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>afii61352</key>
	<string>afii61352.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>apostrophe</key>
	<string>apostrophe.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron_alt.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colonmonetary</key>
	<string>colonmonetary.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelow</key>
	<string>dotbelow.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>franc</key>
	<string>franc.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>glyph175</key>
	<string>glyph175.glif</string>
	<key>glyph194</key>
	<string>glyph194.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>servicemark</key>
	<string>servicemark.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u0B83</key>
	<string>u0B_83.glif</string>
	<key>u0B85</key>
	<string>u0B_85.glif</string>
	<key>u0B86</key>
	<string>u0B_86.glif</string>
	<key>u0B86.001</key>
	<string>u0B_86_001.glif</string>
	<key>u0B87</key>
	<string>u0B_87.glif</string>
	<key>u0B88</key>
	<string>u0B_88.glif</string>
	<key>u0B89</key>
	<string>u0B_89.glif</string>
	<key>u0B8A</key>
	<string>u0B_8A_.glif</string>
	<key>u0B8E</key>
	<string>u0B_8E_.glif</string>
	<key>u0B8F</key>
	<string>u0B_8F_.glif</string>
	<key>u0B90</key>
	<string>u0B_90.glif</string>
	<key>u0B92</key>
	<string>u0B_92.glif</string>
	<key>u0B93</key>
	<string>u0B_93.glif</string>
	<key>u0B94</key>
	<string>u0B_94.glif</string>
	<key>u0B95</key>
	<string>u0B_95.glif</string>
	<key>u0B95_u0BBF.abvs</key>
	<string>u0B_95_u0B_B_F__abvs.glif</string>
	<key>u0B95_u0BC0.abvs</key>
	<string>u0B_95_u0B_C_0_abvs.glif</string>
	<key>u0B95_u0BC1.blws</key>
	<string>u0B_95_u0B_C_1_blws.glif</string>
	<key>u0B95_u0BC2.blws</key>
	<string>u0B_95_u0B_C_2_blws.glif</string>
	<key>u0B95_u0BCD.half</key>
	<string>u0B_95_u0B_C_D__half.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn</key>
	<string>u0B_95_u0B_C_D__u0eb7df2f8.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BBF.abvs</key>
	<string>u0B_95_u0B_C_D__u021037932.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BC0.abvs</key>
	<string>u0B_95_u0B_C_D__u05a0f9c5a.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BCD.half</key>
	<string>u0B_95_u0B_C_D__u068023c6e.glif</string>
	<key>u0B99</key>
	<string>u0B_99.glif</string>
	<key>u0B99_u0BBF.abvs</key>
	<string>u0B_99_u0B_B_F__abvs.glif</string>
	<key>u0B99_u0BC0.abvs</key>
	<string>u0B_99_u0B_C_0_abvs.glif</string>
	<key>u0B99_u0BC1.blws</key>
	<string>u0B_99_u0B_C_1_blws.glif</string>
	<key>u0B99_u0BC2.blws</key>
	<string>u0B_99_u0B_C_2_blws.glif</string>
	<key>u0B99_u0BCD.half</key>
	<string>u0B_99_u0B_C_D__half.glif</string>
	<key>u0B9A</key>
	<string>u0B_9A_.glif</string>
	<key>u0B9A_u0BBF.abvs</key>
	<string>u0B_9A__u0B_B_F__abvs.glif</string>
	<key>u0B9A_u0BC0.abvs</key>
	<string>u0B_9A__u0B_C_0_abvs.glif</string>
	<key>u0B9A_u0BC1.blws</key>
	<string>u0B_9A__u0B_C_1_blws.glif</string>
	<key>u0B9A_u0BC2.blws</key>
	<string>u0B_9A__u0B_C_2_blws.glif</string>
	<key>u0B9A_u0BCD.half</key>
	<string>u0B_9A__u0B_C_D__half.glif</string>
	<key>u0B9C</key>
	<string>u0B_9C_.glif</string>
	<key>u0B9C_u0BBF.abvs</key>
	<string>u0B_9C__u0B_B_F__abvs.glif</string>
	<key>u0B9C_u0BC0.abvs</key>
	<string>u0B_9C__u0B_C_0_abvs.glif</string>
	<key>u0B9C_u0BCD.half</key>
	<string>u0B_9C__u0B_C_D__half.glif</string>
	<key>u0B9E</key>
	<string>u0B_9E_.glif</string>
	<key>u0B9E_u0BBF.abvs</key>
	<string>u0B_9E__u0B_B_F__abvs.glif</string>
	<key>u0B9E_u0BC0.abvs</key>
	<string>u0B_9E__u0B_C_0_abvs.glif</string>
	<key>u0B9E_u0BC1.blws</key>
	<string>u0B_9E__u0B_C_1_blws.glif</string>
	<key>u0B9E_u0BC2.blws</key>
	<string>u0B_9E__u0B_C_2_blws.glif</string>
	<key>u0B9E_u0BCD.half</key>
	<string>u0B_9E__u0B_C_D__half.glif</string>
	<key>u0B9F</key>
	<string>u0B_9F_.glif</string>
	<key>u0B9F_u0BBF.abvs</key>
	<string>u0B_9F__u0B_B_F__abvs.glif</string>
	<key>u0B9F_u0BC0.abvs</key>
	<string>u0B_9F__u0B_C_0_abvs.glif</string>
	<key>u0B9F_u0BC1.blws</key>
	<string>u0B_9F__u0B_C_1_blws.glif</string>
	<key>u0B9F_u0BC2.blws</key>
	<string>u0B_9F__u0B_C_2_blws.glif</string>
	<key>u0B9F_u0BCD.half</key>
	<string>u0B_9F__u0B_C_D__half.glif</string>
	<key>u0BA3</key>
	<string>u0B_A_3.glif</string>
	<key>u0BA3_u0BBF.abvs</key>
	<string>u0B_A_3_u0B_B_F__abvs.glif</string>
	<key>u0BA3_u0BC0.abvs</key>
	<string>u0B_A_3_u0B_C_0_abvs.glif</string>
	<key>u0BA3_u0BC1.blws</key>
	<string>u0B_A_3_u0B_C_1_blws.glif</string>
	<key>u0BA3_u0BC2.blws</key>
	<string>u0B_A_3_u0B_C_2_blws.glif</string>
	<key>u0BA3_u0BCD.half</key>
	<string>u0B_A_3_u0B_C_D__half.glif</string>
	<key>u0BA4</key>
	<string>u0B_A_4.glif</string>
	<key>u0BA4_u0BBF.abvs</key>
	<string>u0B_A_4_u0B_B_F__abvs.glif</string>
	<key>u0BA4_u0BC0.abvs</key>
	<string>u0B_A_4_u0B_C_0_abvs.glif</string>
	<key>u0BA4_u0BC1.blws</key>
	<string>u0B_A_4_u0B_C_1_blws.glif</string>
	<key>u0BA4_u0BC2.blws</key>
	<string>u0B_A_4_u0B_C_2_blws.glif</string>
	<key>u0BA4_u0BCD.half</key>
	<string>u0B_A_4_u0B_C_D__half.glif</string>
	<key>u0BA8</key>
	<string>u0B_A_8.glif</string>
	<key>u0BA8_u0BBF.abvs</key>
	<string>u0B_A_8_u0B_B_F__abvs.glif</string>
	<key>u0BA8_u0BC0.abvs</key>
	<string>u0B_A_8_u0B_C_0_abvs.glif</string>
	<key>u0BA8_u0BC1.blws</key>
	<string>u0B_A_8_u0B_C_1_blws.glif</string>
	<key>u0BA8_u0BC2.blws</key>
	<string>u0B_A_8_u0B_C_2_blws.glif</string>
	<key>u0BA8_u0BCD.half</key>
	<string>u0B_A_8_u0B_C_D__half.glif</string>
	<key>u0BA9</key>
	<string>u0B_A_9.glif</string>
	<key>u0BA9_u0BBF.abvs</key>
	<string>u0B_A_9_u0B_B_F__abvs.glif</string>
	<key>u0BA9_u0BC0.abvs</key>
	<string>u0B_A_9_u0B_C_0_abvs.glif</string>
	<key>u0BA9_u0BC1.blws</key>
	<string>u0B_A_9_u0B_C_1_blws.glif</string>
	<key>u0BA9_u0BC2.blws</key>
	<string>u0B_A_9_u0B_C_2_blws.glif</string>
	<key>u0BA9_u0BCD.half</key>
	<string>u0B_A_9_u0B_C_D__half.glif</string>
	<key>u0BAA</key>
	<string>u0B_A_A_.glif</string>
	<key>u0BAA_u0BBF.abvs</key>
	<string>u0B_A_A__u0B_B_F__abvs.glif</string>
	<key>u0BAA_u0BC0.abvs</key>
	<string>u0B_A_A__u0B_C_0_abvs.glif</string>
	<key>u0BAA_u0BC1.blws</key>
	<string>u0B_A_A__u0B_C_1_blws.glif</string>
	<key>u0BAA_u0BC2.blws</key>
	<string>u0B_A_A__u0B_C_2_blws.glif</string>
	<key>u0BAA_u0BCD.half</key>
	<string>u0B_A_A__u0B_C_D__half.glif</string>
	<key>u0BAE</key>
	<string>u0B_A_E_.glif</string>
	<key>u0BAE_u0BBF.abvs</key>
	<string>u0B_A_E__u0B_B_F__abvs.glif</string>
	<key>u0BAE_u0BC0.abvs</key>
	<string>u0B_A_E__u0B_C_0_abvs.glif</string>
	<key>u0BAE_u0BC1.blws</key>
	<string>u0B_A_E__u0B_C_1_blws.glif</string>
	<key>u0BAE_u0BC2.blws</key>
	<string>u0B_A_E__u0B_C_2_blws.glif</string>
	<key>u0BAE_u0BCD.half</key>
	<string>u0B_A_E__u0B_C_D__half.glif</string>
	<key>u0BAF</key>
	<string>u0B_A_F_.glif</string>
	<key>u0BAF_u0BBF.abvs</key>
	<string>u0B_A_F__u0B_B_F__abvs.glif</string>
	<key>u0BAF_u0BC0.abvs</key>
	<string>u0B_A_F__u0B_C_0_abvs.glif</string>
	<key>u0BAF_u0BC1.blws</key>
	<string>u0B_A_F__u0B_C_1_blws.glif</string>
	<key>u0BAF_u0BC2.blws</key>
	<string>u0B_A_F__u0B_C_2_blws.glif</string>
	<key>u0BAF_u0BCD.half</key>
	<string>u0B_A_F__u0B_C_D__half.glif</string>
	<key>u0BB0</key>
	<string>u0B_B_0.glif</string>
	<key>u0BB0_u0BBF.abvs</key>
	<string>u0B_B_0_u0B_B_F__abvs.glif</string>
	<key>u0BB0_u0BC0.abvs</key>
	<string>u0B_B_0_u0B_C_0_abvs.glif</string>
	<key>u0BB0_u0BC1.blws</key>
	<string>u0B_B_0_u0B_C_1_blws.glif</string>
	<key>u0BB0_u0BC2.blws</key>
	<string>u0B_B_0_u0B_C_2_blws.glif</string>
	<key>u0BB0_u0BCD.half</key>
	<string>u0B_B_0_u0B_C_D__half.glif</string>
	<key>u0BB1</key>
	<string>u0B_B_1.glif</string>
	<key>u0BB1_u0BBF.abvs</key>
	<string>u0B_B_1_u0B_B_F__abvs.glif</string>
	<key>u0BB1_u0BC0.abvs</key>
	<string>u0B_B_1_u0B_C_0_abvs.glif</string>
	<key>u0BB1_u0BC1.blws</key>
	<string>u0B_B_1_u0B_C_1_blws.glif</string>
	<key>u0BB1_u0BC2.blws</key>
	<string>u0B_B_1_u0B_C_2_blws.glif</string>
	<key>u0BB1_u0BCD.half</key>
	<string>u0B_B_1_u0B_C_D__half.glif</string>
	<key>u0BB2</key>
	<string>u0B_B_2.glif</string>
	<key>u0BB2_u0BBF.abvs</key>
	<string>u0B_B_2_u0B_B_F__abvs.glif</string>
	<key>u0BB2_u0BC0.abvs</key>
	<string>u0B_B_2_u0B_C_0_abvs.glif</string>
	<key>u0BB2_u0BC1.blws</key>
	<string>u0B_B_2_u0B_C_1_blws.glif</string>
	<key>u0BB2_u0BC2.blws</key>
	<string>u0B_B_2_u0B_C_2_blws.glif</string>
	<key>u0BB2_u0BCD.half</key>
	<string>u0B_B_2_u0B_C_D__half.glif</string>
	<key>u0BB3</key>
	<string>u0B_B_3.glif</string>
	<key>u0BB3_u0BBF.abvs</key>
	<string>u0B_B_3_u0B_B_F__abvs.glif</string>
	<key>u0BB3_u0BC0.abvs</key>
	<string>u0B_B_3_u0B_C_0_abvs.glif</string>
	<key>u0BB3_u0BC1.blws</key>
	<string>u0B_B_3_u0B_C_1_blws.glif</string>
	<key>u0BB3_u0BC2.blws</key>
	<string>u0B_B_3_u0B_C_2_blws.glif</string>
	<key>u0BB3_u0BCD.half</key>
	<string>u0B_B_3_u0B_C_D__half.glif</string>
	<key>u0BB4</key>
	<string>u0B_B_4.glif</string>
	<key>u0BB4_u0BBF.abvs</key>
	<string>u0B_B_4_u0B_B_F__abvs.glif</string>
	<key>u0BB4_u0BC0.abvs</key>
	<string>u0B_B_4_u0B_C_0_abvs.glif</string>
	<key>u0BB4_u0BC1.blws</key>
	<string>u0B_B_4_u0B_C_1_blws.glif</string>
	<key>u0BB4_u0BC2.blws</key>
	<string>u0B_B_4_u0B_C_2_blws.glif</string>
	<key>u0BB4_u0BCD.half</key>
	<string>u0B_B_4_u0B_C_D__half.glif</string>
	<key>u0BB5</key>
	<string>u0B_B_5.glif</string>
	<key>u0BB5_u0BBF.abvs</key>
	<string>u0B_B_5_u0B_B_F__abvs.glif</string>
	<key>u0BB5_u0BC0.abvs</key>
	<string>u0B_B_5_u0B_C_0_abvs.glif</string>
	<key>u0BB5_u0BC1.blws</key>
	<string>u0B_B_5_u0B_C_1_blws.glif</string>
	<key>u0BB5_u0BC2.blws</key>
	<string>u0B_B_5_u0B_C_2_blws.glif</string>
	<key>u0BB5_u0BCD.half</key>
	<string>u0B_B_5_u0B_C_D__half.glif</string>
	<key>u0BB6</key>
	<string>u0B_B_6.glif</string>
	<key>u0BB6_u0BBF.abvs</key>
	<string>u0B_B_6_u0B_B_F__abvs.glif</string>
	<key>u0BB6_u0BC0.half</key>
	<string>u0B_B_6_u0B_C_0_half.glif</string>
	<key>u0BB6_u0BCD.half</key>
	<string>u0B_B_6_u0B_C_D__half.glif</string>
	<key>u0BB6_u0BCD.half_u0BB0_u0BC0.abvs</key>
	<string>u0B_B_6_u0B_C_D__h4e1ca551.glif</string>
	<key>u0BB7</key>
	<string>u0B_B_7.glif</string>
	<key>u0BB7_u0BBF.abvs</key>
	<string>u0B_B_7_u0B_B_F__abvs.glif</string>
	<key>u0BB7_u0BC0.abvs</key>
	<string>u0B_B_7_u0B_C_0_abvs.glif</string>
	<key>u0BB7_u0BCD.half</key>
	<string>u0B_B_7_u0B_C_D__half.glif</string>
	<key>u0BB8</key>
	<string>u0B_B_8.glif</string>
	<key>u0BB8_u0BBF.abvs</key>
	<string>u0B_B_8_u0B_B_F__abvs.glif</string>
	<key>u0BB8_u0BC0.abvs</key>
	<string>u0B_B_8_u0B_C_0_abvs.glif</string>
	<key>u0BB8_u0BCD.half</key>
	<string>u0B_B_8_u0B_C_D__half.glif</string>
	<key>u0BB9</key>
	<string>u0B_B_9.glif</string>
	<key>u0BB9_u0BBF.abvs</key>
	<string>u0B_B_9_u0B_B_F__abvs.glif</string>
	<key>u0BB9_u0BC0.abvs</key>
	<string>u0B_B_9_u0B_C_0_abvs.glif</string>
	<key>u0BB9_u0BCD.half</key>
	<string>u0B_B_9_u0B_C_D__half.glif</string>
	<key>u0BBE</key>
	<string>u0B_B_E_.glif</string>
	<key>u0BBF</key>
	<string>u0B_B_F_.glif</string>
	<key>u0BC0</key>
	<string>u0B_C_0.glif</string>
	<key>u0BC1</key>
	<string>u0B_C_1.glif</string>
	<key>u0BC2</key>
	<string>u0B_C_2.glif</string>
	<key>u0BC6</key>
	<string>u0B_C_6.glif</string>
	<key>u0BC7</key>
	<string>u0B_C_7.glif</string>
	<key>u0BC8</key>
	<string>u0B_C_8.glif</string>
	<key>u0BCA</key>
	<string>u0B_C_A_.glif</string>
	<key>u0BCB</key>
	<string>u0B_C_B_.glif</string>
	<key>u0BCC</key>
	<string>u0B_C_C_.glif</string>
	<key>u0BCD</key>
	<string>u0B_C_D_.glif</string>
	<key>u0BD7</key>
	<string>u0B_D_7.glif</string>
	<key>u0BE6</key>
	<string>u0B_E_6.glif</string>
	<key>u0BE7</key>
	<string>u0B_E_7.glif</string>
	<key>u0BE8</key>
	<string>u0B_E_8.glif</string>
	<key>u0BE9</key>
	<string>u0B_E_9.glif</string>
	<key>u0BEA</key>
	<string>u0B_E_A_.glif</string>
	<key>u0BEB</key>
	<string>u0B_E_B_.glif</string>
	<key>u0BEC</key>
	<string>u0B_E_C_.glif</string>
	<key>u0BED</key>
	<string>u0B_E_D_.glif</string>
	<key>u0BEE</key>
	<string>u0B_E_E_.glif</string>
	<key>u0BEF</key>
	<string>u0B_E_F_.glif</string>
	<key>u0BF0</key>
	<string>u0B_F_0.glif</string>
	<key>u0BF1</key>
	<string>u0B_F_1.glif</string>
	<key>u0BF2</key>
	<string>u0B_F_2.glif</string>
	<key>u0BF3</key>
	<string>u0B_F_3.glif</string>
	<key>u0BF4</key>
	<string>u0B_F_4.glif</string>
	<key>u0BF5</key>
	<string>u0B_F_5.glif</string>
	<key>u0BF6</key>
	<string>u0B_F_6.glif</string>
	<key>u0BF7</key>
	<string>u0B_F_7.glif</string>
	<key>u0BF8</key>
	<string>u0B_F_8.glif</string>
	<key>u0BF9</key>
	<string>u0B_F_9.glif</string>
	<key>u0BFA</key>
	<string>u0B_F_A_.glif</string>
	<key>u0b82</key>
	<string>u0b82.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0002</key>
	<string>uni0002.glif</string>
	<key>uni0009</key>
	<string>uni0009.glif</string>
	<key>uni000A</key>
	<string>uni000A_.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni030F</key>
	<string>uni030F_.glif</string>
	<key>uni0311</key>
	<string>uni0311.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0BD0</key>
	<string>uni0B_D_0.glif</string>
	<key>uni0D82</key>
	<string>uni0D_82.glif</string>
	<key>uni0D83</key>
	<string>uni0D_83.glif</string>
	<key>uni0D85</key>
	<string>uni0D_85.glif</string>
	<key>uni0D86</key>
	<string>uni0D_86.glif</string>
	<key>uni0D87</key>
	<string>uni0D_87.glif</string>
	<key>uni0D88</key>
	<string>uni0D_88.glif</string>
	<key>uni0D89</key>
	<string>uni0D_89.glif</string>
	<key>uni0D8A</key>
	<string>uni0D_8A_.glif</string>
	<key>uni0D8B</key>
	<string>uni0D_8B_.glif</string>
	<key>uni0D8C</key>
	<string>uni0D_8C_.glif</string>
	<key>uni0D8D</key>
	<string>uni0D_8D_.glif</string>
	<key>uni0D8E</key>
	<string>uni0D_8E_.glif</string>
	<key>uni0D8F</key>
	<string>uni0D_8F_.glif</string>
	<key>uni0D90</key>
	<string>uni0D_90.glif</string>
	<key>uni0D91</key>
	<string>uni0D_91.glif</string>
	<key>uni0D92</key>
	<string>uni0D_92.glif</string>
	<key>uni0D93</key>
	<string>uni0D_93.glif</string>
	<key>uni0D94</key>
	<string>uni0D_94.glif</string>
	<key>uni0D95</key>
	<string>uni0D_95.glif</string>
	<key>uni0D96</key>
	<string>uni0D_96.glif</string>
	<key>uni0D9A</key>
	<string>uni0D_9A_.glif</string>
	<key>uni0D9A_uni0DCA</key>
	<string>uni0D_9A__uni0D_C_A_.glif</string>
	<key>uni0D9A_uni0DCA_uni200D_uni0DC0_uni0DD2</key>
	<string>uni0D_9A__uni0D_C_68fde99f.glif</string>
	<key>uni0D9A_uni0DCA_uni200D_uni0DC0_uni0DD3</key>
	<string>uni0D_9A__uni0D_C_1ffad909.glif</string>
	<key>uni0D9A_uni0DCA_uni200D_uni0DC2_uni0DD2</key>
	<string>uni0D_9A__uni0D_C_460bc119.glif</string>
	<key>uni0D9A_uni0DCA_uni200D_uni0DC2_uni0DD3</key>
	<string>uni0D_9A__uni0D_C_310cf18f.glif</string>
	<key>uni0D9A_uni0DD2</key>
	<string>uni0D_9A__uni0D_D_2.glif</string>
	<key>uni0D9A_uni0DD3</key>
	<string>uni0D_9A__uni0D_D_3.glif</string>
	<key>uni0D9A_uni0DD4</key>
	<string>uni0D_9A__uni0D_D_4.glif</string>
	<key>uni0D9A_uni0DD6</key>
	<string>uni0D_9A__uni0D_D_6.glif</string>
	<key>uni0D9B</key>
	<string>uni0D_9B_.glif</string>
	<key>uni0D9B_uni0DCA</key>
	<string>uni0D_9B__uni0D_C_A_.glif</string>
	<key>uni0D9B_uni0DD2</key>
	<string>uni0D_9B__uni0D_D_2.glif</string>
	<key>uni0D9B_uni0DD3</key>
	<string>uni0D_9B__uni0D_D_3.glif</string>
	<key>uni0D9B_uni0DD4</key>
	<string>uni0D_9B__uni0D_D_4.glif</string>
	<key>uni0D9B_uni0DD6</key>
	<string>uni0D_9B__uni0D_D_6.glif</string>
	<key>uni0D9C</key>
	<string>uni0D_9C_.glif</string>
	<key>uni0D9C_uni0DCA</key>
	<string>uni0D_9C__uni0D_C_A_.glif</string>
	<key>uni0D9C_uni0DCA_uni200D_uni0DB0_uni0DD2</key>
	<string>uni0D_9C__uni0D_C_eadaa347.glif</string>
	<key>uni0D9C_uni0DCA_uni200D_uni0DB0_uni0DD3</key>
	<string>uni0D_9C__uni0D_C_9ddd93d1.glif</string>
	<key>uni0D9C_uni0DD2</key>
	<string>uni0D_9C__uni0D_D_2.glif</string>
	<key>uni0D9C_uni0DD3</key>
	<string>uni0D_9C__uni0D_D_3.glif</string>
	<key>uni0D9C_uni0DD4</key>
	<string>uni0D_9C__uni0D_D_4.glif</string>
	<key>uni0D9C_uni0DD6</key>
	<string>uni0D_9C__uni0D_D_6.glif</string>
	<key>uni0D9D</key>
	<string>uni0D_9D_.glif</string>
	<key>uni0D9D_uni0DCA</key>
	<string>uni0D_9D__uni0D_C_A_.glif</string>
	<key>uni0D9D_uni0DD2</key>
	<string>uni0D_9D__uni0D_D_2.glif</string>
	<key>uni0D9D_uni0DD3</key>
	<string>uni0D_9D__uni0D_D_3.glif</string>
	<key>uni0D9D_uni0DD4</key>
	<string>uni0D_9D__uni0D_D_4.glif</string>
	<key>uni0D9D_uni0DD6</key>
	<string>uni0D_9D__uni0D_D_6.glif</string>
	<key>uni0D9E</key>
	<string>uni0D_9E_.glif</string>
	<key>uni0D9E_uni0DCA</key>
	<string>uni0D_9E__uni0D_C_A_.glif</string>
	<key>uni0D9E_uni0DD2</key>
	<string>uni0D_9E__uni0D_D_2.glif</string>
	<key>uni0D9E_uni0DD3</key>
	<string>uni0D_9E__uni0D_D_3.glif</string>
	<key>uni0D9E_uni0DD4</key>
	<string>uni0D_9E__uni0D_D_4.glif</string>
	<key>uni0D9E_uni0DD6</key>
	<string>uni0D_9E__uni0D_D_6.glif</string>
	<key>uni0D9F</key>
	<string>uni0D_9F_.glif</string>
	<key>uni0D9F_uni0DCA</key>
	<string>uni0D_9F__uni0D_C_A_.glif</string>
	<key>uni0D9F_uni0DD2</key>
	<string>uni0D_9F__uni0D_D_2.glif</string>
	<key>uni0D9F_uni0DD3</key>
	<string>uni0D_9F__uni0D_D_3.glif</string>
	<key>uni0D9F_uni0DD4</key>
	<string>uni0D_9F__uni0D_D_4.glif</string>
	<key>uni0D9F_uni0DD6</key>
	<string>uni0D_9F__uni0D_D_6.glif</string>
	<key>uni0DA0</key>
	<string>uni0D_A_0.glif</string>
	<key>uni0DA0_uni0DCA</key>
	<string>uni0D_A_0_uni0D_C_A_.glif</string>
	<key>uni0DA0_uni0DD2</key>
	<string>uni0D_A_0_uni0D_D_2.glif</string>
	<key>uni0DA0_uni0DD3</key>
	<string>uni0D_A_0_uni0D_D_3.glif</string>
	<key>uni0DA0_uni0DD4</key>
	<string>uni0D_A_0_uni0D_D_4.glif</string>
	<key>uni0DA0_uni0DD6</key>
	<string>uni0D_A_0_uni0D_D_6.glif</string>
	<key>uni0DA1</key>
	<string>uni0D_A_1.glif</string>
	<key>uni0DA1_uni0DCA</key>
	<string>uni0D_A_1_uni0D_C_A_.glif</string>
	<key>uni0DA1_uni0DD2</key>
	<string>uni0D_A_1_uni0D_D_2.glif</string>
	<key>uni0DA1_uni0DD3</key>
	<string>uni0D_A_1_uni0D_D_3.glif</string>
	<key>uni0DA1_uni0DD4</key>
	<string>uni0D_A_1_uni0D_D_4.glif</string>
	<key>uni0DA1_uni0DD6</key>
	<string>uni0D_A_1_uni0D_D_6.glif</string>
	<key>uni0DA2</key>
	<string>uni0D_A_2.glif</string>
	<key>uni0DA2_uni0DCA</key>
	<string>uni0D_A_2_uni0D_C_A_.glif</string>
	<key>uni0DA2_uni0DD2</key>
	<string>uni0D_A_2_uni0D_D_2.glif</string>
	<key>uni0DA2_uni0DD3</key>
	<string>uni0D_A_2_uni0D_D_3.glif</string>
	<key>uni0DA2_uni0DD4</key>
	<string>uni0D_A_2_uni0D_D_4.glif</string>
	<key>uni0DA2_uni0DD6</key>
	<string>uni0D_A_2_uni0D_D_6.glif</string>
	<key>uni0DA3</key>
	<string>uni0D_A_3.glif</string>
	<key>uni0DA3_uni0DD3</key>
	<string>uni0D_A_3_uni0D_D_3.glif</string>
	<key>uni0DA3_uni0DD4</key>
	<string>uni0D_A_3_uni0D_D_4.glif</string>
	<key>uni0DA4</key>
	<string>uni0D_A_4.glif</string>
	<key>uni0DA4_uni0DCA_uni200D_uni0DA0_uni0DD2</key>
	<string>uni0D_A_4_uni0D_C_e6b329d8.glif</string>
	<key>uni0DA4_uni0DCA_uni200D_uni0DA0_uni0DD3</key>
	<string>uni0D_A_4_uni0D_C_91b4194e.glif</string>
	<key>uni0DA4_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_A_4_uni0D_C_a4d6491e.glif</string>
	<key>uni0DA4_uni0DD3</key>
	<string>uni0D_A_4_uni0D_D_3.glif</string>
	<key>uni0DA4_uni0DD4</key>
	<string>uni0D_A_4_uni0D_D_4.glif</string>
	<key>uni0DA5</key>
	<string>uni0D_A_5.glif</string>
	<key>uni0DA5_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_A_5_uni0D_C_9224d9ed.glif</string>
	<key>uni0DA5_uni0DD3</key>
	<string>uni0D_A_5_uni0D_D_3.glif</string>
	<key>uni0DA5_uni0DD4</key>
	<string>uni0D_A_5_uni0D_D_4.glif</string>
	<key>uni0DA6</key>
	<string>uni0D_A_6.glif</string>
	<key>uni0DA6_uni0DD2</key>
	<string>uni0D_A_6_uni0D_D_2.glif</string>
	<key>uni0DA6_uni0DD3</key>
	<string>uni0D_A_6_uni0D_D_3.glif</string>
	<key>uni0DA6_uni0DD4</key>
	<string>uni0D_A_6_uni0D_D_4.glif</string>
	<key>uni0DA6_uni0DD6</key>
	<string>uni0D_A_6_uni0D_D_6.glif</string>
	<key>uni0DA7</key>
	<string>uni0D_A_7.glif</string>
	<key>uni0DA7_uni0DCA</key>
	<string>uni0D_A_7_uni0D_C_A_.glif</string>
	<key>uni0DA7_uni0DCA_uni200D_uni0DA8_uni0DD2</key>
	<string>uni0D_A_7_uni0D_C_067c3ad5.glif</string>
	<key>uni0DA7_uni0DCA_uni200D_uni0DA8_uni0DD3</key>
	<string>uni0D_A_7_uni0D_C_717b0a43.glif</string>
	<key>uni0DA7_uni0DD2</key>
	<string>uni0D_A_7_uni0D_D_2.glif</string>
	<key>uni0DA7_uni0DD3</key>
	<string>uni0D_A_7_uni0D_D_3.glif</string>
	<key>uni0DA7_uni0DD4</key>
	<string>uni0D_A_7_uni0D_D_4.glif</string>
	<key>uni0DA7_uni0DD6</key>
	<string>uni0D_A_7_uni0D_D_6.glif</string>
	<key>uni0DA8</key>
	<string>uni0D_A_8.glif</string>
	<key>uni0DA8_uni0DCA</key>
	<string>uni0D_A_8_uni0D_C_A_.glif</string>
	<key>uni0DA8_uni0DD2</key>
	<string>uni0D_A_8_uni0D_D_2.glif</string>
	<key>uni0DA8_uni0DD3</key>
	<string>uni0D_A_8_uni0D_D_3.glif</string>
	<key>uni0DA8_uni0DD4</key>
	<string>uni0D_A_8_uni0D_D_4.glif</string>
	<key>uni0DA8_uni0DD6</key>
	<string>uni0D_A_8_uni0D_D_6.glif</string>
	<key>uni0DA9</key>
	<string>uni0D_A_9.glif</string>
	<key>uni0DA9_uni0DCA</key>
	<string>uni0D_A_9_uni0D_C_A_.glif</string>
	<key>uni0DA9_uni0DD2</key>
	<string>uni0D_A_9_uni0D_D_2.glif</string>
	<key>uni0DA9_uni0DD3</key>
	<string>uni0D_A_9_uni0D_D_3.glif</string>
	<key>uni0DA9_uni0DD4</key>
	<string>uni0D_A_9_uni0D_D_4.glif</string>
	<key>uni0DA9_uni0DD6</key>
	<string>uni0D_A_9_uni0D_D_6.glif</string>
	<key>uni0DAA</key>
	<string>uni0D_A_A_.glif</string>
	<key>uni0DAA_uni0DCA</key>
	<string>uni0D_A_A__uni0D_C_A_.glif</string>
	<key>uni0DAA_uni0DD2</key>
	<string>uni0D_A_A__uni0D_D_2.glif</string>
	<key>uni0DAA_uni0DD3</key>
	<string>uni0D_A_A__uni0D_D_3.glif</string>
	<key>uni0DAA_uni0DD4</key>
	<string>uni0D_A_A__uni0D_D_4.glif</string>
	<key>uni0DAA_uni0DD6</key>
	<string>uni0D_A_A__uni0D_D_6.glif</string>
	<key>uni0DAB</key>
	<string>uni0D_A_B_.glif</string>
	<key>uni0DAB_uni0DCA</key>
	<string>uni0D_A_B__uni0D_C_A_.glif</string>
	<key>uni0DAB_uni0DD2</key>
	<string>uni0D_A_B__uni0D_D_2.glif</string>
	<key>uni0DAB_uni0DD3</key>
	<string>uni0D_A_B__uni0D_D_3.glif</string>
	<key>uni0DAB_uni0DD4</key>
	<string>uni0D_A_B__uni0D_D_4.glif</string>
	<key>uni0DAB_uni0DD6</key>
	<string>uni0D_A_B__uni0D_D_6.glif</string>
	<key>uni0DAC</key>
	<string>uni0D_A_C_.glif</string>
	<key>uni0DAC_uni0DCA</key>
	<string>uni0D_A_C__uni0D_C_A_.glif</string>
	<key>uni0DAC_uni0DD2</key>
	<string>uni0D_A_C__uni0D_D_2.glif</string>
	<key>uni0DAC_uni0DD3</key>
	<string>uni0D_A_C__uni0D_D_3.glif</string>
	<key>uni0DAC_uni0DD4</key>
	<string>uni0D_A_C__uni0D_D_4.glif</string>
	<key>uni0DAC_uni0DD6</key>
	<string>uni0D_A_C__uni0D_D_6.glif</string>
	<key>uni0DAD</key>
	<string>uni0D_A_D_.glif</string>
	<key>uni0DAD_uni0DCA</key>
	<string>uni0D_A_D__uni0D_C_A_.glif</string>
	<key>uni0DAD_uni0DCA_uni200D_uni0DAE_uni0DD3</key>
	<string>uni0D_A_D__uni0D_C4b629f09.glif</string>
	<key>uni0DAD_uni0DCA_uni200D_uni0DC0_uni0DD3</key>
	<string>uni0D_A_D__uni0D_Cf5a3c9ae.glif</string>
	<key>uni0DAD_uni0DD2</key>
	<string>uni0D_A_D__uni0D_D_2.glif</string>
	<key>uni0DAD_uni0DD3</key>
	<string>uni0D_A_D__uni0D_D_3.glif</string>
	<key>uni0DAD_uni0DD4</key>
	<string>uni0D_A_D__uni0D_D_4.glif</string>
	<key>uni0DAD_uni0DD6</key>
	<string>uni0D_A_D__uni0D_D_6.glif</string>
	<key>uni0DAE</key>
	<string>uni0D_A_E_.glif</string>
	<key>uni0DAE_uni0DCA</key>
	<string>uni0D_A_E__uni0D_C_A_.glif</string>
	<key>uni0DAE_uni0DD2</key>
	<string>uni0D_A_E__uni0D_D_2.glif</string>
	<key>uni0DAE_uni0DD3</key>
	<string>uni0D_A_E__uni0D_D_3.glif</string>
	<key>uni0DAE_uni0DD4</key>
	<string>uni0D_A_E__uni0D_D_4.glif</string>
	<key>uni0DAE_uni0DD6</key>
	<string>uni0D_A_E__uni0D_D_6.glif</string>
	<key>uni0DAF</key>
	<string>uni0D_A_F_.glif</string>
	<key>uni0DAF_uni0DCA</key>
	<string>uni0D_A_F__uni0D_C_A_.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DB0_uni0DD3</key>
	<string>uni0D_A_F__uni0D_C77848376.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0D_A_F__uni0D_Cded658b3.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_A_F__uni0D_Ca9d16825.glif</string>
	<key>uni0DAF_uni0DCA_uni200D_uni0DC0_uni0DD3</key>
	<string>uni0D_A_F__uni0D_C9846e848.glif</string>
	<key>uni0DAF_uni0DD2</key>
	<string>uni0D_A_F__uni0D_D_2.glif</string>
	<key>uni0DAF_uni0DD3</key>
	<string>uni0D_A_F__uni0D_D_3.glif</string>
	<key>uni0DAF_uni0DD4</key>
	<string>uni0D_A_F__uni0D_D_4.glif</string>
	<key>uni0DAF_uni0DD6</key>
	<string>uni0D_A_F__uni0D_D_6.glif</string>
	<key>uni0DB0</key>
	<string>uni0D_B_0.glif</string>
	<key>uni0DB0_uni0DCA</key>
	<string>uni0D_B_0_uni0D_C_A_.glif</string>
	<key>uni0DB0_uni0DD2</key>
	<string>uni0D_B_0_uni0D_D_2.glif</string>
	<key>uni0DB0_uni0DD3</key>
	<string>uni0D_B_0_uni0D_D_3.glif</string>
	<key>uni0DB0_uni0DD4</key>
	<string>uni0D_B_0_uni0D_D_4.glif</string>
	<key>uni0DB0_uni0DD6</key>
	<string>uni0D_B_0_uni0D_D_6.glif</string>
	<key>uni0DB1</key>
	<string>uni0D_B_1.glif</string>
	<key>uni0DB1_uni0DCA</key>
	<string>uni0D_B_1_uni0D_C_A_.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DAE_uni0DD3</key>
	<string>uni0D_B_1_uni0D_C_ab3ebfb1.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DAF_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_B_1_uni0D_C_730f1c9e.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DAF_uni0DD3</key>
	<string>uni0D_B_1_uni0D_C_92b38374.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DB0_uni0DD3</key>
	<string>uni0D_B_1_uni0D_C_fa3d8228.glif</string>
	<key>uni0DB1_uni0DCA_uni200D_uni0DC0_uni0DD3</key>
	<string>uni0D_B_1_uni0D_C_15ffe916.glif</string>
	<key>uni0DB1_uni0DD2</key>
	<string>uni0D_B_1_uni0D_D_2.glif</string>
	<key>uni0DB1_uni0DD3</key>
	<string>uni0D_B_1_uni0D_D_3.glif</string>
	<key>uni0DB1_uni0DD4</key>
	<string>uni0D_B_1_uni0D_D_4.glif</string>
	<key>uni0DB1_uni0DD6</key>
	<string>uni0D_B_1_uni0D_D_6.glif</string>
	<key>uni0DB3</key>
	<string>uni0D_B_3.glif</string>
	<key>uni0DB3_uni0DCA</key>
	<string>uni0D_B_3_uni0D_C_A_.glif</string>
	<key>uni0DB3_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0D_B_3_uni0D_C_3e8a780b.glif</string>
	<key>uni0DB3_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_B_3_uni0D_C_498d489d.glif</string>
	<key>uni0DB3_uni0DD2</key>
	<string>uni0D_B_3_uni0D_D_2.glif</string>
	<key>uni0DB3_uni0DD3</key>
	<string>uni0D_B_3_uni0D_D_3.glif</string>
	<key>uni0DB3_uni0DD4</key>
	<string>uni0D_B_3_uni0D_D_4.glif</string>
	<key>uni0DB3_uni0DD6</key>
	<string>uni0D_B_3_uni0D_D_6.glif</string>
	<key>uni0DB4</key>
	<string>uni0D_B_4.glif</string>
	<key>uni0DB4_uni0DCA</key>
	<string>uni0D_B_4_uni0D_C_A_.glif</string>
	<key>uni0DB4_uni0DD2</key>
	<string>uni0D_B_4_uni0D_D_2.glif</string>
	<key>uni0DB4_uni0DD3</key>
	<string>uni0D_B_4_uni0D_D_3.glif</string>
	<key>uni0DB4_uni0DD4</key>
	<string>uni0D_B_4_uni0D_D_4.glif</string>
	<key>uni0DB4_uni0DD6</key>
	<string>uni0D_B_4_uni0D_D_6.glif</string>
	<key>uni0DB5</key>
	<string>uni0D_B_5.glif</string>
	<key>uni0DB5_uni0DCA</key>
	<string>uni0D_B_5_uni0D_C_A_.glif</string>
	<key>uni0DB5_uni0DD2</key>
	<string>uni0D_B_5_uni0D_D_2.glif</string>
	<key>uni0DB5_uni0DD3</key>
	<string>uni0D_B_5_uni0D_D_3.glif</string>
	<key>uni0DB5_uni0DD4</key>
	<string>uni0D_B_5_uni0D_D_4.glif</string>
	<key>uni0DB5_uni0DD6</key>
	<string>uni0D_B_5_uni0D_D_6.glif</string>
	<key>uni0DB6</key>
	<string>uni0D_B_6.glif</string>
	<key>uni0DB6_uni0DCA</key>
	<string>uni0D_B_6_uni0D_C_A_.glif</string>
	<key>uni0DB6_uni0DD2</key>
	<string>uni0D_B_6_uni0D_D_2.glif</string>
	<key>uni0DB6_uni0DD3</key>
	<string>uni0D_B_6_uni0D_D_3.glif</string>
	<key>uni0DB6_uni0DD4</key>
	<string>uni0D_B_6_uni0D_D_4.glif</string>
	<key>uni0DB6_uni0DD6</key>
	<string>uni0D_B_6_uni0D_D_6.glif</string>
	<key>uni0DB7</key>
	<string>uni0D_B_7.glif</string>
	<key>uni0DB7_uni0DCA</key>
	<string>uni0D_B_7_uni0D_C_A_.glif</string>
	<key>uni0DB7_uni0DD2</key>
	<string>uni0D_B_7_uni0D_D_2.glif</string>
	<key>uni0DB7_uni0DD3</key>
	<string>uni0D_B_7_uni0D_D_3.glif</string>
	<key>uni0DB7_uni0DD4</key>
	<string>uni0D_B_7_uni0D_D_4.glif</string>
	<key>uni0DB7_uni0DD6</key>
	<string>uni0D_B_7_uni0D_D_6.glif</string>
	<key>uni0DB8</key>
	<string>uni0D_B_8.glif</string>
	<key>uni0DB8_uni0DCA</key>
	<string>uni0D_B_8_uni0D_C_A_.glif</string>
	<key>uni0DB8_uni0DD2</key>
	<string>uni0D_B_8_uni0D_D_2.glif</string>
	<key>uni0DB8_uni0DD3</key>
	<string>uni0D_B_8_uni0D_D_3.glif</string>
	<key>uni0DB8_uni0DD4</key>
	<string>uni0D_B_8_uni0D_D_4.glif</string>
	<key>uni0DB8_uni0DD6</key>
	<string>uni0D_B_8_uni0D_D_6.glif</string>
	<key>uni0DB9</key>
	<string>uni0D_B_9.glif</string>
	<key>uni0DB9_uni0DCA</key>
	<string>uni0D_B_9_uni0D_C_A_.glif</string>
	<key>uni0DB9_uni0DD2</key>
	<string>uni0D_B_9_uni0D_D_2.glif</string>
	<key>uni0DB9_uni0DD3</key>
	<string>uni0D_B_9_uni0D_D_3.glif</string>
	<key>uni0DB9_uni0DD4</key>
	<string>uni0D_B_9_uni0D_D_4.glif</string>
	<key>uni0DB9_uni0DD6</key>
	<string>uni0D_B_9_uni0D_D_6.glif</string>
	<key>uni0DBA</key>
	<string>uni0D_B_A_.glif</string>
	<key>uni0DBA_uni0DCA</key>
	<string>uni0D_B_A__uni0D_C_A_.glif</string>
	<key>uni0DBA_uni0DD2</key>
	<string>uni0D_B_A__uni0D_D_2.glif</string>
	<key>uni0DBA_uni0DD3</key>
	<string>uni0D_B_A__uni0D_D_3.glif</string>
	<key>uni0DBA_uni0DD4</key>
	<string>uni0D_B_A__uni0D_D_4.glif</string>
	<key>uni0DBA_uni0DD6</key>
	<string>uni0D_B_A__uni0D_D_6.glif</string>
	<key>uni0DBB</key>
	<string>uni0D_B_B_.glif</string>
	<key>uni0DBB_uni0DCA</key>
	<string>uni0D_B_B__uni0D_C_A_.glif</string>
	<key>uni0DBB_uni0DD2</key>
	<string>uni0D_B_B__uni0D_D_2.glif</string>
	<key>uni0DBB_uni0DD3</key>
	<string>uni0D_B_B__uni0D_D_3.glif</string>
	<key>uni0DBD</key>
	<string>uni0D_B_D_.glif</string>
	<key>uni0DBD_uni0DCA</key>
	<string>uni0D_B_D__uni0D_C_A_.glif</string>
	<key>uni0DBD_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0D_B_D__uni0D_Cdeb58a0f.glif</string>
	<key>uni0DBD_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_B_D__uni0D_Ca9b2ba99.glif</string>
	<key>uni0DBD_uni0DD2</key>
	<string>uni0D_B_D__uni0D_D_2.glif</string>
	<key>uni0DBD_uni0DD3</key>
	<string>uni0D_B_D__uni0D_D_3.glif</string>
	<key>uni0DBD_uni0DD4</key>
	<string>uni0D_B_D__uni0D_D_4.glif</string>
	<key>uni0DBD_uni0DD6</key>
	<string>uni0D_B_D__uni0D_D_6.glif</string>
	<key>uni0DC0</key>
	<string>uni0D_C_0.glif</string>
	<key>uni0DC0_uni0DCA</key>
	<string>uni0D_C_0_uni0D_C_A_.glif</string>
	<key>uni0DC0_uni0DD2</key>
	<string>uni0D_C_0_uni0D_D_2.glif</string>
	<key>uni0DC0_uni0DD3</key>
	<string>uni0D_C_0_uni0D_D_3.glif</string>
	<key>uni0DC0_uni0DD4</key>
	<string>uni0D_C_0_uni0D_D_4.glif</string>
	<key>uni0DC0_uni0DD6</key>
	<string>uni0D_C_0_uni0D_D_6.glif</string>
	<key>uni0DC1</key>
	<string>uni0D_C_1.glif</string>
	<key>uni0DC1_uni0DCA</key>
	<string>uni0D_C_1_uni0D_C_A_.glif</string>
	<key>uni0DC1_uni0DD2</key>
	<string>uni0D_C_1_uni0D_D_2.glif</string>
	<key>uni0DC1_uni0DD3</key>
	<string>uni0D_C_1_uni0D_D_3.glif</string>
	<key>uni0DC1_uni0DD4</key>
	<string>uni0D_C_1_uni0D_D_4.glif</string>
	<key>uni0DC1_uni0DD6</key>
	<string>uni0D_C_1_uni0D_D_6.glif</string>
	<key>uni0DC2</key>
	<string>uni0D_C_2.glif</string>
	<key>uni0DC2_uni0DCA</key>
	<string>uni0D_C_2_uni0D_C_A_.glif</string>
	<key>uni0DC2_uni0DD2</key>
	<string>uni0D_C_2_uni0D_D_2.glif</string>
	<key>uni0DC2_uni0DD3</key>
	<string>uni0D_C_2_uni0D_D_3.glif</string>
	<key>uni0DC2_uni0DD4</key>
	<string>uni0D_C_2_uni0D_D_4.glif</string>
	<key>uni0DC2_uni0DD6</key>
	<string>uni0D_C_2_uni0D_D_6.glif</string>
	<key>uni0DC3</key>
	<string>uni0D_C_3.glif</string>
	<key>uni0DC3_uni0DCA</key>
	<string>uni0D_C_3_uni0D_C_A_.glif</string>
	<key>uni0DC3_uni0DD2</key>
	<string>uni0D_C_3_uni0D_D_2.glif</string>
	<key>uni0DC3_uni0DD3</key>
	<string>uni0D_C_3_uni0D_D_3.glif</string>
	<key>uni0DC3_uni0DD4</key>
	<string>uni0D_C_3_uni0D_D_4.glif</string>
	<key>uni0DC3_uni0DD6</key>
	<string>uni0D_C_3_uni0D_D_6.glif</string>
	<key>uni0DC4</key>
	<string>uni0D_C_4.glif</string>
	<key>uni0DC4_uni0DCA</key>
	<string>uni0D_C_4_uni0D_C_A_.glif</string>
	<key>uni0DC4_uni0DD2</key>
	<string>uni0D_C_4_uni0D_D_2.glif</string>
	<key>uni0DC4_uni0DD3</key>
	<string>uni0D_C_4_uni0D_D_3.glif</string>
	<key>uni0DC4_uni0DD4</key>
	<string>uni0D_C_4_uni0D_D_4.glif</string>
	<key>uni0DC4_uni0DD6</key>
	<string>uni0D_C_4_uni0D_D_6.glif</string>
	<key>uni0DC5</key>
	<string>uni0D_C_5.glif</string>
	<key>uni0DC5_uni0DCA</key>
	<string>uni0D_C_5_uni0D_C_A_.glif</string>
	<key>uni0DC5_uni0DCA_uni200D_uni0DBB_uni0DD2</key>
	<string>uni0D_C_5_uni0D_C_ac274b17.glif</string>
	<key>uni0DC5_uni0DCA_uni200D_uni0DBB_uni0DD3</key>
	<string>uni0D_C_5_uni0D_C_db207b81.glif</string>
	<key>uni0DC5_uni0DD2</key>
	<string>uni0D_C_5_uni0D_D_2.glif</string>
	<key>uni0DC5_uni0DD3</key>
	<string>uni0D_C_5_uni0D_D_3.glif</string>
	<key>uni0DC5_uni0DD4</key>
	<string>uni0D_C_5_uni0D_D_4.glif</string>
	<key>uni0DC6</key>
	<string>uni0D_C_6.glif</string>
	<key>uni0DC6_uni0DCA</key>
	<string>uni0D_C_6_uni0D_C_A_.glif</string>
	<key>uni0DC6_uni0DD2</key>
	<string>uni0D_C_6_uni0D_D_2.glif</string>
	<key>uni0DC6_uni0DD3</key>
	<string>uni0D_C_6_uni0D_D_3.glif</string>
	<key>uni0DC6_uni0DD4</key>
	<string>uni0D_C_6_uni0D_D_4.glif</string>
	<key>uni0DC6_uni0DD6</key>
	<string>uni0D_C_6_uni0D_D_6.glif</string>
	<key>uni0DC6_uni200D_uni0DCA</key>
	<string>uni0D_C_6_uni200D_60275f94.glif</string>
	<key>uni0DCA</key>
	<string>uni0D_C_A_.glif</string>
	<key>uni0DCA_uni200D_uni0DBA_uni0DD3</key>
	<string>uni0D_C_A__uni200Dd29f8878.glif</string>
	<key>uni0DCF</key>
	<string>uni0D_C_F_.glif</string>
	<key>uni0DD0</key>
	<string>uni0D_D_0.glif</string>
	<key>uni0DD1</key>
	<string>uni0D_D_1.glif</string>
	<key>uni0DD2</key>
	<string>uni0D_D_2.glif</string>
	<key>uni0DD3</key>
	<string>uni0D_D_3.glif</string>
	<key>uni0DD4</key>
	<string>uni0D_D_4.glif</string>
	<key>uni0DD6</key>
	<string>uni0D_D_6.glif</string>
	<key>uni0DD8</key>
	<string>uni0D_D_8.glif</string>
	<key>uni0DD9</key>
	<string>uni0D_D_9.glif</string>
	<key>uni0DDA</key>
	<string>uni0D_D_A_.glif</string>
	<key>uni0DDB</key>
	<string>uni0D_D_B_.glif</string>
	<key>uni0DDC</key>
	<string>uni0D_D_C_.glif</string>
	<key>uni0DDD</key>
	<string>uni0D_D_D_.glif</string>
	<key>uni0DDD.pstf</key>
	<string>uni0D_D_D__pstf.glif</string>
	<key>uni0DDE</key>
	<string>uni0D_D_E_.glif</string>
	<key>uni0DDF</key>
	<string>uni0D_D_F_.glif</string>
	<key>uni0DF2</key>
	<string>uni0D_F_2.glif</string>
	<key>uni0DF3</key>
	<string>uni0D_F_3.glif</string>
	<key>uni0DF4</key>
	<string>uni0D_F_4.glif</string>
	<key>uni20A6</key>
	<string>uni20A_6.glif</string>
	<key>uni20A9</key>
	<string>uni20A_9.glif</string>
	<key>uni20B9</key>
	<string>uni20B_9.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>uniF8FF</key>
	<string>uniF_8F_F_.glif</string>
	<key>uniFEFF</key>
	<string>uniF_E_F_F_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
