<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2070</integer>
	<key>capHeight</key>
	<integer>1254</integer>
	<key>copyright</key>
	<string>Copyright (c) 2013 by Pathum Egodawatta, with Reserved Font Name 'OtherLetter'</string>
	<key>descender</key>
	<integer>-600</integer>
	<key>familyName</key>
	<string>OtherLetter</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>note</key>
	<string>This is a hybrid of SInhala and Tamil scripts and may not be used to correctly represent all the charachters of either language/script.</string>
	<key>openTypeHeadCreated</key>
	<string>2014/03/05 10:53:00</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>2070</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-600</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>OtherLetter</string>
	<key>openTypeNameDescription</key>
	<string>Designed by Pathum Egodawatta</string>
	<key>openTypeNameDesigner</key>
	<string>Pathum Egodawatta</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://iampathum.com/</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the SIL Open Font License, Version 1.1.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>mooniak</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://mooniak.com/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>OtherLetter</string>
	<key>openTypeNameUniqueID</key>
	<string>PathumEgodawatta: OtherLetter: 2014</string>
	<key>openTypeNameVersion</key>
	<string>Version 0.001</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>600</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1433</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>194</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1433</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>702</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2070</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-600</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>16</integer>
		<integer>34</integer>
		<integer>38</integer>
		<integer>46</integer>
		<integer>73</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>MONO</string>
	<key>openTypeOS2WeightClass</key>
	<integer>250</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2070</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>600</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-154</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>styleMapFamilyName</key>
	<string>OtherLetter</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>OtherLetter is a trademark of Pathum Egodawatta.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>1254</integer>
</dict>
</plist>
